@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-content: "Roboto Condensed", sans-serif;
    --font-nav: "Outfit", sans-serif;
    --font-title:
}

.card-glass {
    @apply bg-[#29292940] border-[0.5px] border-[#FFFFFF40] rounded-[25px] backdrop-blur-[100px];
}

main {
    font-family: var(--font-nav);

    h1 {
        font-family: var(--font-title);
    }
}

#portafolio {
    background: url("./assets/abrar-khan-comp-30.jpg");
    background-size: cover;
    background-position: center;
}